<div class="main">
	<img src="/assets/img/logo-ekaly.png" alt="E-Kaly.com">
	<mat-card class="login-card">
		<mat-card-header class="login-header">
			<mat-card-title>Connexion de restaurant</mat-card-title>
		</mat-card-header>
		<mat-divider inset></mat-divider>
		<mat-card-content class="login-form">
			<div class="form-input">
				<mat-form-field appearance="standard">
					<mat-label>Identifiant du restaurant</mat-label>
					<input matInput placeholder="restaurant@exemple.com">
					<mat-icon matSuffix>home</mat-icon>
				</mat-form-field>
			</div>
			<div class="form-input">
				<mat-form-field appearance="standard">
					<mat-label>Enter your password</mat-label>
					<input matInput [type]="hide ? 'password' : 'text'">
					<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
					  <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
					</button>
				  </mat-form-field>
			</div>
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button class="login-button">Se Connecter</button>
			<br/>
		</mat-card-actions>
		<small>
			Votre restaurant n'est pas encore inscrit ?
			<a [routerLink]="['/resto/signup']" class="redirect">Cliquez ici</a>
		</small>
	</mat-card>
</div>