<app-headers-nav></app-headers-nav>
<div id="page-content">
	<div class="slideshow slideshow-wrapper pb-section">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100"
						src="https://firebasestorage.googleapis.com/v0/b/ekaly-cdn.appspot.com/o/hamburger-494706_1920.jpg?alt=media&token=901e7629-4184-4726-ade5-9288dc836b5e"
						alt="First slide">
					<div class="carousel-caption d-none d-md-block">
						<h5>Commandez chez nous dès aujourd'hui</h5>
						<button class="btn ">Commander</button>
					</div>
				</div>
				<div class="carousel-item">
					<img class="d-block w-100"
						src="https://firebasestorage.googleapis.com/v0/b/ekaly-cdn.appspot.com/o/club-sandwich-3538455_1920.jpg?alt=media&token=18b363ef-3ac0-4209-973d-ca4f1002724a"
						alt="Second slide">
					<div class="carousel-caption d-none d-md-block">
						<h5>Livraison à domicile en mois de 30mnutes</h5>
						<button class="btn">Commander</button>
					</div>

				</div>
				<div class="carousel-item">
					<img class="d-block w-100"
						src="https://firebasestorage.googleapis.com/v0/b/ekaly-cdn.appspot.com/o/salmon-518032_1920.jpg?alt=media&token=a28613d9-743a-450a-ae80-d21f2ad93a89"
						alt="Third slide">
					<div class="carousel-caption d-none d-md-block">
						<h5>Essayez de nouvelles saveurs</h5>
						<button class="btn">Commander</button>
					</div>

				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>

	<app-list-all-plat></app-list-all-plat>

	<div class="section logo-section">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12">
					<div class="section-header text-center">
						<h2 class="h2">Partenaires</h2>
					</div>
					<div class="logo-bar">
						<div class="logo-bar__item">
							<img src="assets/images/logo/brandlogo1.png" alt="" title="" />
						</div>
						<div class="logo-bar__item">
							<img src="assets/images/logo/brandlogo2.png" alt="" title="" />
						</div>
						<div class="logo-bar__item">
							<img src="assets/images/logo/brandlogo3.png" alt="" title="" />
						</div>
						<div class="logo-bar__item">
							<img src="assets/images/logo/brandlogo4.png" alt="" title="" />
						</div>
						<div class="logo-bar__item">
							<img src="assets/images/logo/brandlogo5.png" alt="" title="" />
						</div>
						<div class="logo-bar__item">
							<img src="assets/images/logo/brandlogo6.png" alt="" title="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--End Logo Slider-->
</div>
<app-footer></app-footer>