<div class="product-rows section">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12">
				<div class="section-header text-center">
					<h2 class="h2">Nos plats</h2>
					<p>Commandez et faites livrer chez vous</p>
				</div>
			</div>
		</div>
		<div class="grid-products">
			<div class="row">
				<div class="col-6 col-sm-2 col-md-3 col-lg-3 item" *ngFor="let item of plat | slice:0:16">
					<!-- start product image -->
					<div class="product-image">
						<!-- start product image -->
						<a [routerLink]="['/new-command/',item._id]" class="grid-view-item__link">
							<!-- image -->
							<img class="primary blur-up lazyload" [src]="item._mainImage" alt="image"
								title="product">
							<!-- End image -->
							<!-- Hover image -->
							<img class="hover blur-up lazyload" [src]="item._mainImage" alt="image" title="product">
							<!-- End hover image -->
							<!-- Variant Image-->
							<img class="grid-view-item__image hover variantImg" [src]="item._mainImage" alt="image"
								title="product">
							<!-- Variant Image-->
							<!-- product label -->
							<!-- End product label -->
						</a>
						<!-- end product image -->

						<!-- countdown start -->
						<div class="saleTime desktop" data-countdown="2022/03/01"></div>
						<!-- countdown end -->

						<!-- Start product button -->
						<form class="variants add" action="#" (click)="redirectToCommand(item._id)" method="post">
							<button class="btn btn-addto-cart" type="button" tabindex="0">Commander</button>
						</form>
						<!-- end product button -->
					</div>
					<!-- end product image -->
					<!--start product details -->
					<div class="product-details text-center">
						<!-- product name -->
						<div class="product-name">
							<a [routerLink]="['/new-command/',item._id]">{{item._name}}</a>
						</div>
						<!-- End product name -->
						<!-- product price -->
						<div class="product-price">
							<span class="price">MGA {{item._price |number:'4.1-5'}}</span>
						</div>
						<!-- End product price -->
					</div>
					<!-- End product details -->
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
					<a href="/plats" class="btn view-all-btn">Voir tout</a>
				</div>
			</div>
		</div>
	</div>
</div>