<div class="header-wrap animated d-flex border-bottom">
	<div class="container-fluid">
		<div class="row align-items-center">
			<!--Desktop Logo-->
			<div class="logo col-md-2 col-lg-2 d-none d-lg-block">
				<a href="index.html">
					<img src="assets/img/logo-ekaly-lite.png" alt="ekaly.com"
						title="ekaly.com" class="logo-ekaly"/>
				</a>
			</div>
			<!--End Desktop Logo-->
			<div class="col-2 col-sm-3 col-md-3 col-lg-8">
				<div class="d-block d-lg-none">
					<button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
						<i class="icon anm anm-times-l"></i>
						<i class="anm anm-bars-r"></i>
					</button>
				</div>
				<!--Desktop Menu-->
				<nav class="grid__item" id="AccessibleNav">
					<!-- for mobile -->
					<ul id="siteNav" class="site-nav medium center hidearrow">
						<li class="lvl1 parent megamenu"><a href="/accueil">Accueil <i class="anm anm-angle-down-l"></i></a>
							
						</li>
						<li class="lvl1 parent megamenu"><a href="/restaurants">Restaurant <i class="anm anm-angle-down-l"></i></a>
							
						</li>
						<li class="lvl1 parent megamenu"><a href="/plats">Plats <i class="anm anm-angle-down-l"></i></a>
							
						</li>
						
					</ul>
				</nav>
				<!--End Desktop Menu-->
			</div>
			<!--Mobile Logo-->
			<div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
				<div class="logo">
					<a href="index.html">
						<img src="assets/img/logo-ekaly-lite.png" alt="ekaly.com"
							title="ekaly.com" />
					</a>
				</div>
			</div>
			<!--Mobile Logo-->
			
		</div>
	</div>
</div>

<div class="mobile-nav-wrapper" role="navigation">
	<div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
	<ul id="MobileNav" class="mobile-nav">
		<li class="lvl1 parent megamenu"><a href="#">Accueil <i class="anm anm-angle-down-l"></i></a>
							
		</li>
		<li class="lvl1 parent megamenu"><a href="#">Restaurant <i class="anm anm-angle-down-l"></i></a>
			
		</li>
		<li class="lvl1 parent megamenu"><a href="#">Plats <i class="anm anm-angle-down-l"></i></a>
			
		</li>
	</ul>
</div>