.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	color:#fff;
	background-color: #ad8868;
}
a{
	color:black;
	&:hover{
		color:#ad8868;
	}
}

.img-circle.elevation-2{
	width:3vw;
	height: 3vw;
}