<aside class="main-sidebar  elevation-4">
	<!-- Brand Logo -->
	<a href="/resto/accueil" class="brand-link">
		<img src="/assets/img/logo-ekaly-ico.png" alt="e-kaly.com Logo" class="brand-image img-circle elevation-3"
			style="opacity: .8">
		<span class="brand-text font-weight-light">Resto e-kaly.com</span>
	</a>
	<div class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img [src]="profilePicture" class="img-circle elevation-2" alt="User Image">
			</div>
			<div class="info">
				<a href="/resto/profile" class="d-block">{{name}}</a>
			</div>
		</div>


		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<li class="nav-item">
					<a href="/resto/accueil" class="nav-link active">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>
							Tableau de bord
						</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/resto/plat/new" class="nav-link ">
						<mat-icon aria-hidden="false" aria-label="Example home icon">fastfood</mat-icon>
						<p>
							Nouveau plat
						</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/resto/plats" class="nav-link ">
						<mat-icon aria-hidden="false" aria-label="Example home icon">fastfood</mat-icon>
						<p>
							Liste des plats
						</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/resto/commandes" class="nav-link ">
						<mat-icon aria-hidden="false" aria-label="Example home icon">fastfood</mat-icon>
						<p>
							Liste des commandes
						</p>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</aside>