<div class="wrapper">
	<app-page-loader></app-page-loader>
	<app-resto-header></app-resto-header>
	<app-resto-nav-side></app-resto-nav-side>
	<div class="content-wrapper">
		<br/>
		<router-outlet></router-outlet>
	</div>
	<footer class="main-footer">
		<strong>Copyright &copy; 2022
			<a
				href="https://www.linkedin.com/in/lina-mandresy-rabenandrasana-5870a91a7/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3B72jad%2BuUTvi0lj9UwMyXTw%3D%3D">
				Rabenandrasana Lina Mandresy
			</a>.
		</strong>
		All rights reserved.
		<div class="float-right d-none d-sm-inline-block">
			<b>Version</b> 3.2.0
		</div>
	</footer>

	<aside class="control-sidebar control-sidebar-dark">
	</aside>
</div>