<div class="wrapper">
	<app-page-loader></app-page-loader>
	<app-resto-header></app-resto-header>
	<app-resto-nav-side></app-resto-nav-side>
	<div class="content-wrapper">
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">Dashboard</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Dashboard v1</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<router-outlet></router-outlet>
	</div>
	<footer class="main-footer">
		<strong>Copyright &copy; 2022
			<a
				href="https://www.linkedin.com/in/lina-mandresy-rabenandrasana-5870a91a7/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3B72jad%2BuUTvi0lj9UwMyXTw%3D%3D">
				Rabenandrasana Lina Mandresy
			</a>.
		</strong>
		All rights reserved.
		<div class="float-right d-none d-sm-inline-block">
			<b>Version</b> 3.2.0
		</div>
	</footer>

	<aside class="control-sidebar control-sidebar-dark">
	</aside>
</div>